.main{
    border: 2px solid gray;
    width: 200px;
    margin: 0 auto;
}
.result{
    width: 194px;
    background-color: grey;
    color: white;
}

.clearBtn {
    width: 100px;
margin-top: 10px;
background-color: gray;
}

.btn {
background-color: gray;
width: 45px;
margin: 1px;
}

.halfBtn {
background-color: gray;
width: 98px;
margin-top: 5px;
}
h1{
    background-color: aqua;
    color: red;
    text-align: center;
    text-decoration: underline;
}